* {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  font-family: 'Nunito', sans-serif;
  font-weight: lighter;
  border: 0px;
}

.isCorrect{
  border: 1px solid;
  padding: 5px;
}


.section1{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 600px;
}

.card1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  width: 1000px;
  height: 50%;
  border-bottom: 1px solid rgb(190, 189, 189);
}




.sum {
  width: 300px;
  height: 50px;
  margin-top: 50px;
  border-radius: 10px;
  background-color: rgb(39, 158, 209);
  color: white;
  cursor: pointer;
  font-size: 1.2rem;
}
